<!-- footer section -->
<footer class="container-fluid footer_section">
  <p>
    &copy; <span id="displayYear"></span> All Rights Reserved By
    <a href="https://html.design/">Free Html Templates</a>
  </p>
</footer>
<!-- footer section -->

<script type="text/javascript" src="/public/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/public/js/bootstrap.js"></script>
<script type="text/javascript" src="/public/js/custom.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
</script>
<!-- End Google Map -->

</body>

</html>