<%- include('particle/menu'); %>
    <!-- contact section -->

    <section class="contact_section layout_padding">
        <div class="container ">
            <div class="heading_container justify-content-center">
                <h2 class="">
                    Contact Us
                </h2>
            </div>

        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <form method="POST" action="/contact/insert-contact">
                        <div>
                            <input type="text" id="name" name="Name" placeholder="Name" />
                        </div>
                        <div>
                            <input type="email" id="email" name="Email" placeholder="Email" />
                        </div>
                        <div>
                            <input type="number" id="phone" name="PhoneNumber" placeholder="Phone Number" />
                        </div>
                        <div>
                            <input type="text" id="message" name="Message" placeholder="Message" />
                        </div>
                        <div class="d-flex  mt-4 ">
                            <button type="submit">
                                SEND
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- end contact section -->


    <!-- info section -->
    <section class="info_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="info_logo">
                        <h5>
                            Fior
                        </h5>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered
                            alteration
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info_links pl-lg-5">
                        <h5>
                            Useful Link
                        </h5>
                        <ul>
                            <li>
                                <a href="index.html">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="about.html">
                                    About
                                </a>
                            </li>
                            <li>
                                <a href="gallery.html">
                                    Gallery
                                </a>
                            </li>
                            <li class="active">
                                <a href="contact.html">
                                    Contact Us
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info_insta">
                        <h5>
                            Instagram
                        </h5>
                        <div class="insta_container">
                            <div>
                                <a href="">
                                    <div class="insta-box b-1">
                                        <img src="/public/images/insta-1.png" alt="">
                                    </div>
                                </a>
                                <a href="">
                                    <div class="insta-box b-2">
                                        <img src="/public/images/insta-2.png" alt="">
                                    </div>
                                </a>
                            </div>
                            <div>
                                <a href="">
                                    <div class="insta-box b-3">
                                        <img src="/public/images/insta-3.png" alt="">
                                    </div>
                                </a>
                                <a href="">
                                    <div class="insta-box b-4">
                                        <img src="/public/images/insta-4.png" alt="">
                                    </div>
                                </a>
                            </div>
                            <div>
                                <a href="">
                                    <div class="insta-box b-3">
                                        <img src="/public/images/insta-5.png" alt="">
                                    </div>
                                </a>
                                <a href="">
                                    <div class="insta-box b-4">
                                        <img src="/public/images/insta-6.png" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info_contact">
                        <h5>
                            Contact
                        </h5>
                        <div>
                            <img src="/public/images/location-white.png" alt="">
                            <p>
                                It is a long
                                fact that a reader
                            </p>
                        </div>
                        <div>
                            <img src="/public/images/telephone-white.png" alt="">
                            <p>
                                +01 1234567890
                            </p>
                        </div>
                        <div>
                            <img src="/public/images/envelope-white.png" alt="">
                            <p>
                                demo@gmail.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('particle/footer'); %>