<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Of Products</title>
    <link rel="stylesheet" href="/public/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/dataTables.bootstrap5.min.css">
</head>

<body>
    <header style="text-align: center; margin-top: 10px;">
        <h1>List Of Contacts</h1>
    </header>
    <div
        style="margin: 40px 50px 60px 50px; box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
        <table id="example" class="table table-striped">
            <thead style="background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);">
                <tr style="color: white;">
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Message</th>
                </tr>
            </thead>
            <tbody>
                <% for (const cont of contact) { %>
                    <tr>
                        <td>
                            <%= cont.Name %>
                        </td>
                        <td>
                            <%= cont.Email %>
                        </td>
                        <td>
                            <%= cont.PhoneNumber %>
                        </td>
                        <td>
                            <%= cont.Message %>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>
    <script src="/public/js/bootstrap/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
</body>

</html>